<div class="payment-container">
    <!-- Phần hình ảnh và giới thiệu -->
    <div class="payment-info">
      <img src="assets/images/create-event/event-placeholder.png" alt="Event Banner" class="event-image" />
    </div>
  
    <!-- Phần form đăng ký -->
    <div class="payment-form">
      <h2>Thông tin đăng ký</h2>
      <form>
        <div class="form-group">
          <input type="text" placeholder="Nguyễn">
          <input type="text" placeholder="Minh Anh">
        </div>
  
        <input type="email" placeholder="manhnguyen@gmail.com">
        <input type="text" placeholder="0909 510 535">
        <input type="number" placeholder="24">
        <input type="text" placeholder="Gói kim cương 2">
        
        <div class="form-group">
          <input type="text" placeholder="799.000">
          <input type="text" placeholder="799.000">
        </div>
  
        <button type="submit" class="btn-payment">Thanh toán</button>
      </form>
    </div>
  </div>
  