<div class="container-account">
    <div class="sidebar">
        <div class="user-section">
            <img src="../../../../assets/images/user-avatar.png" alt="Avatar" class="avatar">
            <h4>Nguyễn Minh Anh</h4>
            <p>Ngày đăng ký: 11/05/2025</p>
        </div>
        <div class="nav-section">
            <ul>
                <li><button class="active">
                    <i class="general-info-icon icon"></i>Thông tin chung
                </button></li>
            
                <li><button (click)="navigateTo('invoices')">
                    <i class="my-invoices-icon icon"></i>Hóa đơn của tôi
                </button></li>
            
                <li><button (click)="navigateTo('invoices')">
                    <i class="my-events-icon icon"></i>Sự kiện của tôi
                </button></li>
            
                <li><button (click)="navigateTo('invoices')">
                    <i class="notification-icon icon"></i>Thông báo
                </button></li>
            
                <li><button (click)="navigateTo('invoices')">
                    <i class="created-events-icon icon"></i>Sự kiện đã tạo
                </button></li>
            
                <li><button (click)="logout()">
                    <i class="logout-icon icon"></i>Đăng xuất
                </button></li>
            </ul>
        </div>        
    </div>
    <div class="content">
        <h2 class="title-account"><i class="general-info-icon icon"></i> Thông tin chung</h2>
        <hr>

        <div class="info-section">
            <h3>Thông tin cá nhân</h3>
            <div class="input-group">
                <label>Họ và Tên</label>
                <input type="text">
            </div>
            <div class="input-group">
                <label>Ngày tháng năm sinh</label>
                <input type="text">
            </div>
            <div class="input-group">
                <label>Email</label>
                <input type="text">
            </div>
            <div class="input-group">
                <label>Số điện thoại</label>
                <input type="text">
            </div>
        </div>
        <div class="active-section">
            <h3>Thông tin hoạt động</h3>
            <p>Ngày tạo tài khoản: dd/mm/yyyy</p>
            <p>Hạng thành viên: [Hạng thành viên]</p>
            <p>Ngày hết hạn: dd/mm/yyyy</p>
            <p>Số sự kiện đã tham gia: xxx</p>
            <p>Số sự kiện đã tạo: yyy</p>
        </div>
        <div class="btn-account">
            <button class="btn-back">Trở về trang chủ</button>
        </div>
        
    </div>
</div>
