<div class="comment-section">
    <!-- Phần bình luận -->
    <h3>Bình luận</h3>
    <div class="comment-box">
      <input type="text" placeholder="Viết bình luận của bạn tại đây ..." />
      <button class="send-btn">➤</button>
    </div>
  
    <!-- Danh sách bình luận -->
    <div class="comment-list">
      <div class="comment">
        <img src="assets/images/user-avatar.png" alt="Avatar" />
        <div class="comment-content">
          <p class="username">Nguyễn Minh Anh</p>
          <p class="time">23:00 11/03/2025</p>
          <p class="text">Cho em hỏi vé SVIP sẽ ngồi ở zone nào vậy ạ?</p>
          <button class="reply-btn">Phản hồi</button>
        </div>
      </div>
    </div>
  </div>
  