* {
    font-family: 'Lora', serif;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.blog-container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    gap: 20px;
    padding: 20px;
}

.blog-highlight {
    flex: 2;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-highlight h2 {
    border-bottom: 3px solid #222;
    padding-bottom: 10px;
    font-size: 24px;
}

.highlight-main {
    position: relative;
    margin-bottom: 20px;
}

.highlight-main img {
    width: 100%;
    border-radius: 8px;
}

.highlight-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.highlight-author {
    color: white;
    font-size: 14px;
}

.highlight-list {
    display: flex;
    gap: 10px;
    color: #333;
}

.highlight-item {
    flex: 1;
    background: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.highlight-item img {
    width: 100%;
    border-radius: 8px;
}

.highlight-item p {
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
}

.author {
    color: #333;
    font-size: 12px;
}

.blog-latest {
    flex: 1;
    background: #f9f4e0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
}

.blog-latest h2 {
    border-bottom: 3px solid #222;
    padding-bottom: 10px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-latest h2 a {
    font-size: 14px;
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

.blog-latest h2 a:hover {
    color: #0056b3;
}

.blog-latest ul {
    list-style: none;
    padding: 0;
}

.blog-latest li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.blog-latest li img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-right: 10px;
}

.blog-latest ul li p {
    color: #333;
}