<div class="payment-container">
    <!-- Phần bên trái -->
    <div class="payment-left">
        <img src="assets/images/create-event/event-placeholder.png" alt="Event Banner" class="event-image" />
    </div>

    <!-- Phần bên phải -->
    <div class="payment-right">
        <h2>Thông tin thanh toán</h2>
        <div class="form-group">
            <label>Hạng vé:</label>
            <input type="text" [(ngModel)]="ticketType">
        </div>
        <div class="form-group">
            <label>Đơn giá:</label>
            <input type="text" [value]="pricePerTicket | number" disabled>
        </div>
        <div class="form-group">
            <label>Số lượng:</label>
            <input type="number" [(ngModel)]="quantity">
        </div>
        <div class="form-group">
            <label>Tổng cộng:</label>
            <input type="text" [value]="totalPrice | number" disabled>
        </div>

        <!-- Nút xác nhận thanh toán -->
        <button (click)="showPaymentPopup()">Xác nhận thanh toán</button>

        <!-- Payment Popup -->
        <div class="popup-overlay" *ngIf="isShowingPopup">
            <div class="popup-content">
                <div class="qr-code">
                    <img src="assets/images/qrcodepayment/image.png" alt="QR Code">
                </div>
                <div class="bank-info">
                    <p class="bank-name">Ngân hàng TMCP Tiên Phong (TP Bank)</p>
                    <p class="company-name">Công ty Cổ phần dịch vụ Eventor</p>
                    <p class="account-number">STK: 166778899</p>
                    <p class="payment-content">Nội dung thanh toán: #FE000106</p>
                </div>
                <button class="confirm-button" (click)="showSuccessPopup()" (click)="closePopup()">Xác nhận thanh toán</button>
            </div>
        </div>

        <!-- Popup kết quả thanh toán -->
        <div class="success-overlay" *ngIf="isShowingSuccessPopup">
            <div class="success-content">
            <div class="bi-check-circle"></div>
            <h2>Thanh toán thành công</h2>
            <p><strong>Mã thanh toán:</strong> #FE000152</p>
            <button class="btn-home" (click)="closeSuccessPopup()">Trở về trang chủ</button>
            </div>
        </div>
    </div>
</div>
