<body>
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="p-4">
        <div class="text-center">
            <div class="logo"></div>
            <div class="toggle-buttons">
              <button class="active btn-custom">Quên mật khẩu</button>
            </div>
            
        </div>
  
        <form (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="phone" class="form-label">Số điện thoại</label>
                <input type="text" id="phone" class="form-control" [(ngModel)]="phoneNumber" name="phone" required>
            </div>
  
            <button type="button" class="btn btn-secondary" (click)="sendVerificationCode()">Mã xác thực</button>
  
            <div class="mb-3">
                <label for="otp" class="form-label">Mã xác thực</label>
                <input type="text" id="otp" class="form-control" [(ngModel)]="otpCode" name="otp">
            </div>
  
            <div class="mb-3">
                <label for="password" class="form-label">Mật khẩu mới</label>
                <input type="password" id="password" class="form-control" [(ngModel)]="newPassword" name="password" required>
            </div>
  
            <div class="mb-3">
                <label for="confirm-password" class="form-label">Nhập lại mật khẩu</label>
                <input type="password" id="confirm-password" class="form-control" [(ngModel)]="confirmPassword" name="confirm-password" required>
            </div>
  
            <button type="submit" class="btn btn-primary w-100">Xác thực tài khoản</button>
        </form>
  
        <div class="text-center my-3">
            <p class="mb-2">Đăng nhập bằng:</p>
            <div class="d-flex justify-content-center gap-2">
                <button class="btn btn-outline-primary rounded-circle" (click)="loginWith('facebook')"><i class="fab fa-facebook-f"></i></button>
                <button class="btn btn-outline-danger rounded-circle" (click)="loginWith('google')"><i class="fab fa-google"></i></button>
                <button class="btn btn-outline-dark rounded-circle" (click)="loginWith('apple')"><i class="fab fa-apple"></i></button>
            </div>
        </div>
  
        <p class="text-center mt-3">Bạn chưa có tài khoản?
          <a (click)="navigateToSignup()" class="fw-bold text-decoration-none">Đăng ký</a>
        </p>
    </div>
  </div>
  
</body>
