<header class="admin-header">
  <!-- Navbar actions -->
  <nav class="actions">
    <img src="assets\images\icon-admin-homepage\left-arrow.png" alt="Back">
    <img src="assets\images\icon-admin-homepage\right-arrow.png" alt="Forward">
    <img src="assets\images\icon-admin-homepage\home.png" alt="Home">
    <img src="assets\images\icon-admin-homepage\menu.png" alt="Menu">

    <!-- User Profile -->
    <div class="profile">
      <img src="assets/images/user-avatar.png" alt="User Avatar">
    </div>
  </nav>
</header>
