<nav class="header">
  <div class="logo"></div>
  <div class="search-bar">
    <input type="text" placeholder="Tìm kiếm sự kiện...">
    <button class="search-btn"><i class="fas fa-search"></i></button>
  </div>
  <ul class="nav-menu">
    <li><a [class.active]="isRouteActive('my-events')" href="javascript:void(0)" (click)="navigateTo('my-events')">Sự kiện của tôi</a></li>
    <li><a [class.active]="isRouteActive('create-event')" href="javascript:void(0)" (click)="navigateTo('create-event')">Tạo sự kiện</a></li>
    <li><a [class.active]="isRouteActive('listevents')" href="javascript:void(0)" (click)="navigateTo('listevents')">Sự kiện</a></li>
    <li><a [class.active]="isRouteActive('member-registration')" href="javascript:void(0)" (click)="navigateTo('member-registration')">Đăng ký thành viên</a></li>
    <li><a [class.active]="isRouteActive('saved')" href="javascript:void(0)" (click)="navigateTo('saved')">Đã lưu</a></li>
    <li><a [class.active]="isRouteActive('my-account')" href="javascript:void(0)" (click)="navigateTo('my-account')">Tài khoản</a></li>
  </ul>
  <div class="profile">
    <img src="../../../../assets/images/user-avatar.png" alt="User Avatar">
  </div>
</nav>