<div class="event-list">
    <h1>{{ title }}</h1>
    <div class="event-items">
        <div *ngFor="let event of events" class="event-card">
            <img [src]="event.event_image" alt="Event Image" class="event-img" />
            <div class="event-details">
                <h3 class="event-title">{{ event.event_name }}</h3>
                <p class="event-meta">
                    <span class="event-time">🕒 {{ event.hour_start }} - {{ event.start_date }}</span> 
                    <span class="event-location">📍 {{ event.location }}</span>
                </p>
                <p class="event-price" [class.event-free]="isFreeEvent(event.price)" [class.event-paid]="!isFreeEvent(event.price)">
                    {{ isFreeEvent(event.price) ? 'Sự kiện miễn phí' : 'Từ ' + event.price + 'đ' }}
                </p>
            </div>
        </div>
    </div>
</div>
