<footer>
    <div class="footer-container">
      <!-- Góp ý với chúng tôi -->
      <div class="footer-section">
        <h3>Góp ý với chúng tôi</h3>
        <button>Đóng góp ý kiến!</button>
        <ul>
          <li><a href="#" (click)="navigateTo('brand-story');$event.preventDefault()">Câu chuyện thương hiệu</a></li>
          <li><a href="#" (click)="navigateTo('blog');$event.preventDefault()">Blog</a></li>
          <li><a href="#" (click)="navigateTo('hiring');$event.preventDefault()">Tuyển dụng</a></li>
          <li><a href="#">Liên hệ</a></li>
        </ul>
      </div>
  
      <!-- Chính sách & Bảo mật -->
      <div class="footer-section">
        <h3>Chính sách & Bảo mật</h3>
        <ul>
          <li><a href="#">Bảo mật & Cookie</a></li>
          <li><a href="#">Điều khoản & Điều kiện</a></li>
        </ul>
      </div>
  
      <!-- Trung tâm trợ giúp -->
      <div class="footer-section">
        <h3>Trung tâm trợ giúp</h3>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Chat với Eventor</a></li>
          <li><a href="#">Liên hệ với Eventor</a></li>
          <li><a href="#">Liên hệ với BTC Event</a></li>
        </ul>
      </div>
  
      <!-- Liên hệ với chúng tôi -->
      <div class="footer-section contact-info">
        <h3>HOTLINE: 1900.1585</h3>
        <p><img src="../../../../assets/icons/mail.png" alt="Email"> Eventor.contact&#64;gmail.com</p>
      </div>
  
      <!-- Mạng xã hội -->
      <div class="footer-section social-media">
        <h3>Liên hệ với chúng tôi</h3>
        <div class="social-icons">
          <img src="../../../../assets/icons/facebook.png" alt="Facebook">
          <img src="../../../../assets/icons/x.png" alt="X">
          <img src="../../../../assets/icons/instagram.png" alt="Instagram">
          <img src="../../../../assets/icons/tiktok.png" alt="TikTok">
        </div>
        <h3>Địa chỉ</h3>
        <p>72A Lê Thánh Tôn, phường Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</p>
      </div>
    </div>
  </footer>
  