.highlight-container {
overflow: hidden;
padding-top: 70px ;
background-color: #F8F1E4; /* Màu nền */;
}

.highlight-scroll {
display: flex;
overflow-x: auto;
scrollbar-width: none; /* Ẩn thanh cuộn trên Firefox */
}

.highlight-scroll::-webkit-scrollbar {
display: none; /* Ẩn thanh cuộn trên Chrome */
}

.highlight-wrapper {
display: flex;
gap: 15px;
}

.highlight-item {
width: 100%;
height: 75%;
object-fit: cover;
border-radius: 8px;
}
