.member-register {
  padding: 20px;
  background: var(--background-light);
  border-radius: 8px;
  max-width: 1200px;
  margin: 0 auto;
}

.membership-type {
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
  color: #4d4d4d;
  text-align: center;
}

.member-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.info-box {
  background-color: #fffbeb;
  padding: 15px 25px;
  border-radius: 8px;
  flex: 1;
  margin: 0 5px;
}

.info-details p {
  margin: 8px 0;
  font-size: 16px;
  color: #4d4d4d;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #4d4d4d;
  margin: 30px 0 10px;
}

hr {
  border: none;
  height: 1px;
  background-color: #e0e0e0;
  margin: 10px 0 30px;
}

h3 {
  text-align: center;
  font-size: 18px;
  color: #5a4635;
  margin: 15px 0 25px;
  font-weight: normal;
  position: relative;
}

h3:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 1px;
  background-color: #e0e0e0;
}

.package-list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 40px;
}

.package {
  background: #fffbeb;
  border-radius: 8px;
  padding: 20px;
  width: 31%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.package h4 {
  font-size: 18px;
  color: #5a4635;
  text-align: center;
  margin-bottom:
  15px;
}

.package ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.package ul li {
  text-align: left;
  margin-bottom: 10px;
  padding-left: 25px;
  position: relative;
  color: #5a4635;
  font-size: 15px;
}

.package ul li::before {
  content: "✓";
  color: green;
  position: absolute;
  left: 0;
  font-weight: bold;
}

.package .price {
  font-weight: bold;
  font-size: 18px;
  color: #4f8fd9;
  margin: 15px 0;
  text-align: center;
}

.package button {
  background: #8b4513;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  font-size: 14px;
  transition: background 0.3s;
}

.package button:hover {
  background: #daa520;
}

@media (max-width: 768px) {
  .member-info {
    flex-direction: column;
  }
  
  .info-box {
    margin: 5px 0;
  }
  
  .package-list {
    flex-direction: column;
    align-items: center;
  }
  
  .package {
    width: 90%;
    margin-bottom: 20px;
  }
}