<div class="statistics-container">
  <h2>Thống kê hiệu suất</h2>

  <div class="stat-box">
    <p>Tổng số sự kiện</p>
    <h3>{{ totalEvents }}</h3>
  </div>

  <div class="stat-box">
    <p>Tổng số người tham gia</p>
    <h3>{{ totalParticipants }}</h3>
  </div>

  <div class="stat-box">
    <p>Tổng doanh thu</p>
    <h3>{{ totalRevenue | number }}đ</h3>
  </div>

  <div class="chart-container">
    <ngx-charts-bar-vertical
      [results]="barChartData"
      [scheme]="'cool'"
      [gradient]="true">
    </ngx-charts-bar-vertical>

    <ngx-charts-line-chart
      [results]="lineChartData"
      [scheme]="'cool'"
      [autoScale]="true">
    </ngx-charts-line-chart>

    <ngx-charts-pie-chart
      [results]="pieChartData"
      [scheme]="'cool'"
      [legend]="true">
    </ngx-charts-pie-chart>
  </div>
</div>
