.invoices {
    background: #fdf5e6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

select {
    padding: 8px;
    border: 2px solid #a98b73;
    border-radius: 5px;
    font-size: 16px;
    display: block;
    justify-items: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th, td {
    padding: 10px;
    border-bottom: 1px solid #a98b73;
    text-align: left;
}
th {
    color: #8b5e3b;
    font-weight: bold;
}
.pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.btn {
    padding: 8px 15px;
    margin: 5px;
    background: #8b5e3b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}