<div class="event-content">
    <!-- Thời gian & Địa điểm -->
    <div class="info-container">
      <div class="info-box">
        <h3>Thời gian</h3>
        <p>9:00 ngày 15/03/2025</p>
      </div>
      <div class="info-box">
        <h3>Địa điểm</h3>
        <p>Quảng trường Hoàng gia Châu Âu, Vinhomes Royal Island, An Phú, Quận 2, TP Hồ Chí Minh</p>
      </div>
    </div>
  
    <!-- Thông tin mô tả -->
    <div class="description">
      <h3>Thông tin mô tả</h3>
      <p><strong>IMAGINE DRAGONS | SOOBIN | CHI PU | HIẾU THU HAI | HURRYKNG | MANBO | DJ MIE</strong></p>
      <p>
        Vượt lên mọi kỳ vọng của fan hâm mộ, 8WONDER Winter 2024 - phiên bản supershow chính thức đổ bộ "thành phố hoa lệ" Sài Thành với bước nhảy vọt về quy mô và tầm vóc, hứa hẹn trở thành bom tấn khuấy đảo toàn bộ mùa nhạc hội cuối năm tại khu vực châu Á.
        <br>
        Dàn line-up khủng với những cái tên làm mưa làm gió trên thị trường âm nhạc trong nước và quốc tế càng khiến cho "cuộc chiến săn vé" tới đây trở nên gay cấn hơn bao giờ hết!!!
        <br>
        + Màn trình diễn lên đến 75 phút với những bản nhạc hot hit nhất của ban nhạc hàng đầu thế kỉ 21 - Imagine Dragons. 
        <br>
        + "Chemistry bùng nổ" với dàn line up quy tụ các ca sĩ/ DJ hàng đầu Việt Nam: SOOBIN, CHI PU, HIEUTHUHAI, HURRYKNG, MANBO, DJ Mie.
        <br>
        Và siêu hội Giáng sinh với hàng trăm hoạt động lễ hội, giải trí, ẩm thực, mua sắm kéo dài suốt tháng 12.
        <br>
        Nhắc nhẹ cho các fan cứng của 8WONDER, những chiếc vé early bird đầu tiên sẽ được mở bán từ 20h00 ngày 14/10 số lượng cực giới hạn, nhớ đặt lịch để không bỏ lỡ nhaaaa!
        <br>
        ——————————————————
        <br>
        LƯU Ý:
        <br>
        + Người tham dự chương trình phải từ 10 tuổi trở lên và phải có người lớn đi cùng nếu dưới 14 tuổi. (một người lớn kèm một trẻ em).
        <br>
        + Trường hợp trẻ em cao dưới 1.35m, cần xuất trình giấy tờ chứng minh đủ tuổi tham gia sự kiện.
        <br>
        + Phụ nữ mang bầu và người có vấn đề sức khỏe được khuyến cáo cân nhắc khi tham gia sự kiện này. Trong trường hợp vẫn muốn tham gia, cần báo cho Ban Tổ Chức và ký giấy cam kết về quyết định của mình.
        </p>
    </div>
  
    <!-- Bảng giá vé -->
    <div class="ticket-pricing">
      <h3>Hạng vé</h3>
      <table>
        <tr><td>SVIP (seated)</td><td style="color: #62aae4;">20.000.000 VNĐ</td></tr>
        <tr><td>VIP (seated)</td><td style="color: #62aae4;">10.000.000 VNĐ</td></tr>
        <tr><td>FANZONE 1-2</td><td style="color: #62aae4;">6.000.000 VNĐ</td></tr>
        <tr><td>GA 1-2</td><td style="color: #62aae4;">2.700.000 VNĐ</td></tr>
      </table>
    </div>
  </div>
  