<nav class="admin-sidebar">
    <img class="logo" src="assets\images\logo-main.png" alt="logo-main">
    <ul>
        <li><button (click)="navigateTo('/admin/accounts')"><img src="assets/images/icon-admin-homepage/account.png" alt="">Quản lý tài khoản</button></li>
        <li><button (click)="navigateTo('/admin/events')"><img src="assets/images/icon-admin-homepage/event.png" alt="">Quản lý sự kiện</button></li>
        <li><button (click)="navigateTo('/admin/events')"><img src="assets/images/icon-admin-homepage/event-category.png" alt="">Danh mục sự kiện</button></li>
        <li><button (click)="navigateTo('/admin/content')"><img src="assets/images/icon-admin-homepage/content.png" alt="">Quản lý nội dung</button></li>
        <li><button (click)="navigateTo('/admin/payments')"><img src="assets/images/icon-admin-homepage/payment.png" alt="">  Quản lý thanh toán</button></li>
        <li><button (click)="navigateTo('/admin/support')"><img src="assets/images/icon-admin-homepage/support.png" alt="">   Hỗ trợ & Liên hệ</button></li>
        <li><button (click)="navigateTo('/admin/settings')"><img src="assets/images/icon-admin-homepage/settings.png" alt="">Cài đặt hệ thống</button></li>
        <li><button (click)="navigateTo('/admin/logs')"><img src="assets/images/icon-admin-homepage/logs.png" alt="">Log hoạt động</button></li>
    </ul>
    <div class="logout-container">
        <button class="logout-button">
          <img src="assets\images\icon-admin-homepage\logout-icon.png" alt="Logout">
          Đăng xuất
        </button>
      </div>
  </nav>
  